#footer
  #disclaimer
    div.title Disclaimer
    div.text This website and its content are not afiliated to, nor endorsed by, the elastic.co company
  #author
    div.title Credits
    div.text Created and maintained by&nbsp;
      a(href="https://github.com/jeanfabrice" target="_blank") Jean-Fabrice
      |  - Art director:&nbsp;
      a(href="https://pierreolivierbobo.fr" target="_blank") Pierre-Olivier
