extends layout

append css
  link( rel = 'stylesheet', href = '/static/css/yes.css' )

block content
  #main.center
    h1.yaynay YAY!
    p.message New #{version.name} was released #{naturaldate}!

append javascripts
  script( src = '/static/js/fireworks.bundle.js' )
